@{
    ViewData["Title"] = "Carrinho";
}
@model CarrinhoCliente;

<h3>Meu Carrinho</h3>

<form method="post" asp-action="carrinho"></form>


<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2 text-center">
                Preço Unitário
            </div>
            <div class="col-md-2 text-center">
                Quantidade
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Subtotal
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">

        @foreach (var item in Model.Itens)
        {

            <div class="row row-center linha-produto" item-id="@item.Id">
                <div class="col-md-3">
                    <img class="img-produto-carrinho" src="@(item.UrlImagem)" />
                </div>
                <input type="hidden" name="produtoId" value="@(item.ProdutoId)" />
                <div class="col-md-3">@(item.ProdutoNome)</div>
                <div class="col-md-2 text-center">R$ @(item.PrecoUnitario.ToString("0.00"))</div>
                <div class="col-md-2 text-center">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    onclick="carrinho.clickDecremento(this)">
                                <span class="glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" value="@(item.Quantidade)"
                               class="form-control text-center quantidade"
                               onblur="carrinho.updateQuantidade(this)" />
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    onclick="carrinho.clickIncremento(this)">
                                <span class="glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        R$ <span class="pull-right" subtotal>
                            @((item.Quantidade * item.PrecoUnitario).ToString("0.00"))
                        </span>
                    </div>
                </div>
            </div>

        }

    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                <span numero-itens>
                    Total: @(Model.Itens.Count())
                    itens
                </span>
            </div>
            <div class="col-md-2">
                Total: R$ <span class="pull-right" total>
                    @((Model.Total).ToString("0.00"))
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" asp-controller="catalogo">
                Adicionar Produtos
            </a>
            <a class="btn btn-success" asp-controller="cadastro">
                Preencher Cadastro
            </a>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/carrinho.js"></script>
}
