@{
    ViewData["Title"] = "Catálogo";
}

@model BuscaProdutosViewModel;

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Buscar produtos</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form asp-action="BuscaProdutos">
                        <input type="text" asp-for="@Model.Pesquisa" name="pesquisa"
                               class="form-control input-lg"
                               placeholder="categoria ou produto" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var produtos = Model.Produtos;

    var categorias =
        produtos
            .Select(m => m.Categoria)
            .Distinct();
}

@foreach (var categoria in categorias)
{
    var produtosNaCategoria =
        produtos
        .Where(p => p.Categoria.Id == categoria.Id);

    <h3>@categoria.Nome</h3>

    <div id="my-carousel-@categoria.Id" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            @{
                const int TAMANHO_PAGINA = 4;

                int paginas = (int)Math.Ceiling((double)produtosNaCategoria.Count() / TAMANHO_PAGINA);
            }

            @for (int pagina = 0; pagina < paginas; pagina++)
            {

                <div class="item @(pagina == 0 ? "active" : "")">
                    <div class="row">

                        @{
                            var produtosDaPagina = produtosNaCategoria.Skip(pagina * TAMANHO_PAGINA).Take(TAMANHO_PAGINA);
                        }

                        @foreach (var produto in produtosDaPagina)
                        {

                            <div class="col-md-3 col-sm-3 col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img class="img-produto-catalogo" src="/images/produtos/large_@(produto.Codigo).jpg" />
                                    </div>
                                    <div class="panel-footer produto-footer">
                                        <div class="produto-nome">@produto.Nome</div>
                                        <div><h4><strong>R$ @produto.Preco.ToString("0.00")</strong></h4></div>
                                        <div class="text-center">
                                            <a asp-controller="carrinho"
                                               asp-action="index"
                                               asp-route-codigo="@produto.Codigo"
                                               class="btn btn-success">Adicionar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#my-carousel-@categoria.Id" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carousel-@categoria.Id" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
